html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: #202124;
  color: #FFFFFF;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.playing-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pf-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pf-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  border: 2px solid #FFFFFF;

  width: 10vw;
  height: 10vw;
  font-size: 8vw;
}

.pf-cell .fa-circle {
  font-size: 6.5vw;
}

.Scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
}

.sb b {
  font-size: 20px;
}

.sb .score {
  font-size: 30px;
}

.sb-you-icon {
  font-size: 20px;
}

.sb-foe-icon {
  font-size: 20px;
}